@use '../shared/global-styles.scss';

.kaleidoscope {
  video {
    display: block;
    max-width: 100vmin;
    max-height: 100vmin;
    margin: 1rem auto;
  }

  canvas {
    display: block;
    max-width: 100vmin;
    max-height: 100vmin;
    margin: 0 auto;
  }

  @media (max-width: 599px) {
    .quick-access-container {
      margin: 0 auto;
      padding: 1rem;
    }
  }

  @media (min-width: 600px) {
    .quick-access-container {
      position: absolute;
      top: 1rem;
      left: 1rem;
      max-width: calc(100vw - 2rem);
      max-height: calc(100vh - 2rem);
    }
  }

  .quick-access-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  details {
    display: block;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 1rem 0;
  }

  details[open] {
    padding-bottom: 1rem;

    summary {
      margin-bottom: 1rem;
    }
  }

  .generation-select-label {
    display: block;
    margin: 1rem 0;
  }

  .generation-select {
    display: block;
    margin: 1rem 0;

    height: 2rem;
    width: 250px;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
  }

  .add-filter-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .clear-all-filters-button {
    margin: 1rem 0;
  }

  .remove-filter-button-container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}