@use '../shared/global-styles.scss';

.larger-than-life {
  a {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  canvas {
    display: block;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    image-rendering: pixelated;
  }
}