@use '../shared/global-styles.scss';

.flow-field {
  .ui-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 1rem;
    max-width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
  }

  canvas {
    display: block;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
  }
}