@use '../../game_of_life/style.scss' as game-of-life-style;
@use '../../hello_quad/style.scss' as hello-quad-style;
@use '../../hello_quad_animated/style.scss' as hello-quad-animated-style;
@use '../../larger_than_life/style.scss' as larger-than-life;
@use '../../perlin_noise/style.scss' as perlin-noise;
@use '../../flow_field/style.scss' as flow-field;
@use '../../simplex_noise/style.scss' as simplex-noise;
@use '../../ray_tracer/style.scss' as ray-tracer;
@use '../../recording_demo/style.scss' as recording-demo;
@use '../../shared/global-styles.scss';

.home {
  padding: 1rem;
  
  a {
    display: block;
    margin: 1rem 0;
  }
}