.button {
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    display: block;

    color: black;
    border-radius: 24px;
    background-color: #ddd;
    font-size: 1rem;

    &:focus {
        // only shown to keyboard users
        outline: none;
    }

    &:disabled {
        cursor: auto;
    }
}

.keyboard-user .button:focus {
    outline: 2px solid blue;
    outline-offset: 1rem;
}